<% content_for :title, "Relationships for #{@character.name}" %>
<h1>Listing relationships for <%= @character.name %></h1>

<ul>
<% @relationships.each do |relationship| %>
  <li>
    <%= link_to relationship.target.name, relationship.target %>
    <i>(<%= link_to relationship.name, [@character,relationship] %>)</i>
  </li>
<% end %>
</ul>

<br />

<%= link_to 'New Relationship', new_character_relationship_path(@character) %>
