<% content_for :title, "All Characters" %>
<h1>Listing characters</h1>

<ul>
<%= render :partial => 'character', :collection => @characters, :locals => {:parents => []} %>
</ul>

<br />

<%= link_to 'New Character', new_character_path %>
